body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:798px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2482 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  text-align:left;
}
#u2483 {
  position:absolute;
  left:2px;
  top:2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2484 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
}
#u2485 {
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  word-wrap:break-word;
}
#u2486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2486 {
  position:absolute;
  left:8px;
  top:9px;
  width:30px;
  height:30px;
}
#u2487 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2488 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:592px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2489 {
  position:absolute;
  left:0px;
  top:48px;
  width:360px;
  height:592px;
  font-size:13px;
}
#u2490 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u2491 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2492 {
  position:absolute;
  left:441px;
  top:9px;
  width:207px;
  height:107px;
  text-align:left;
}
#u2493 {
  position:absolute;
  left:2px;
  top:2px;
  width:203px;
  word-wrap:break-word;
}
#u2494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2494 {
  position:absolute;
  left:394px;
  top:9px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u2495 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u2496 {
  position:absolute;
  left:360px;
  top:24px;
  width:0px;
  height:0px;
}
#u2496_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:38px;
  height:8px;
}
#u2497 {
  position:absolute;
  left:-33px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2498 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2499 {
  position:absolute;
  left:441px;
  top:352px;
  width:357px;
  height:122px;
  text-align:left;
}
#u2500 {
  position:absolute;
  left:2px;
  top:2px;
  width:353px;
  word-wrap:break-word;
}
#u2501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2501 {
  position:absolute;
  left:394px;
  top:352px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u2502 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u2503 {
  position:absolute;
  left:179px;
  top:203px;
  width:0px;
  height:0px;
}
#u2503_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:168px;
}
#u2503_seg1 {
  position:absolute;
  left:-4px;
  top:160px;
  width:219px;
  height:8px;
}
#u2504 {
  position:absolute;
  left:-24px;
  top:156px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2505_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2505 {
  position:absolute;
  left:8px;
  top:138px;
  width:342px;
  height:65px;
  text-align:left;
}
#u2506 {
  position:absolute;
  left:2px;
  top:2px;
  width:338px;
  word-wrap:break-word;
}
#u2507_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2507 {
  position:absolute;
  left:8px;
  top:86px;
  width:342px;
  height:48px;
  font-size:13px;
}
#u2508 {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  word-wrap:break-word;
}
