body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:744px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:209px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1673 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:31px;
  width:300px;
  height:209px;
  text-align:left;
}
#u1674 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u1675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1676 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1677 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:248px;
  width:343px;
  height:27px;
}
#u1678 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:392px;
}
#u1679 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:275px;
  width:375px;
  height:392px;
}
#u1680 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:188px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1681 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:254px;
  width:71px;
  height:16px;
}
#u1682 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1683 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:254px;
  width:85px;
  height:16px;
}
#u1684 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1685 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:31px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u1686 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u1687 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:262px;
  width:0px;
  height:0px;
}
#u1687_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:15px;
  height:8px;
}
#u1687_seg1 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:-186px;
  width:8px;
  height:190px;
}
#u1687_seg2 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:-186px;
  width:57px;
  height:8px;
}
#u1687_seg3 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-201px;
  width:8px;
  height:23px;
}
#u1688 {
  border-width:0px;
  position:absolute;
  left:-39px;
  top:-128px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
