body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:744px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3605_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:209px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3605 {
  position:absolute;
  left:444px;
  top:31px;
  width:300px;
  height:209px;
  text-align:left;
}
#u3606 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u3607_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3607 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3608 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3609_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3609 {
  position:absolute;
  left:16px;
  top:248px;
  width:343px;
  height:27px;
}
#u3610 {
  position:absolute;
  left:2px;
  top:6px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3611_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:392px;
}
#u3611 {
  position:absolute;
  left:0px;
  top:275px;
  width:375px;
  height:392px;
}
#u3612 {
  position:absolute;
  left:2px;
  top:188px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3613_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3613 {
  position:absolute;
  left:23px;
  top:254px;
  width:71px;
  height:16px;
}
#u3614 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3615_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3615 {
  position:absolute;
  left:194px;
  top:254px;
  width:85px;
  height:16px;
}
#u3616 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u3617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3617 {
  position:absolute;
  left:404px;
  top:31px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u3618 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u3619 {
  position:absolute;
  left:359px;
  top:262px;
  width:0px;
  height:0px;
}
#u3619_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:15px;
  height:8px;
}
#u3619_seg1 {
  position:absolute;
  left:7px;
  top:-186px;
  width:8px;
  height:190px;
}
#u3619_seg2 {
  position:absolute;
  left:7px;
  top:-186px;
  width:57px;
  height:8px;
}
#u3619_seg3 {
  position:absolute;
  left:56px;
  top:-201px;
  width:8px;
  height:23px;
}
#u3620 {
  position:absolute;
  left:-39px;
  top:-128px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
