body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:744px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:209px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1948 {
  position:absolute;
  left:444px;
  top:31px;
  width:300px;
  height:209px;
  text-align:left;
}
#u1949 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u1950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1950 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1951 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1952 {
  position:absolute;
  left:16px;
  top:248px;
  width:343px;
  height:27px;
}
#u1953 {
  position:absolute;
  left:2px;
  top:6px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:392px;
}
#u1954 {
  position:absolute;
  left:0px;
  top:275px;
  width:375px;
  height:392px;
}
#u1955 {
  position:absolute;
  left:2px;
  top:188px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1956 {
  position:absolute;
  left:23px;
  top:254px;
  width:71px;
  height:16px;
}
#u1957 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1958 {
  position:absolute;
  left:194px;
  top:254px;
  width:85px;
  height:16px;
}
#u1959 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1960 {
  position:absolute;
  left:404px;
  top:31px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u1961 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u1962 {
  position:absolute;
  left:359px;
  top:262px;
  width:0px;
  height:0px;
}
#u1962_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:15px;
  height:8px;
}
#u1962_seg1 {
  position:absolute;
  left:7px;
  top:-186px;
  width:8px;
  height:190px;
}
#u1962_seg2 {
  position:absolute;
  left:7px;
  top:-186px;
  width:57px;
  height:8px;
}
#u1962_seg3 {
  position:absolute;
  left:56px;
  top:-201px;
  width:8px;
  height:23px;
}
#u1963 {
  position:absolute;
  left:-39px;
  top:-128px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
