body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:820px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:309px;
  width:162px;
  height:46px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:158px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:102px;
  height:31px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:369px;
  width:87px;
  height:5px;
  -webkit-transform:rotate(158deg);
  -moz-transform:rotate(158deg);
  -ms-transform:rotate(158deg);
  transform:rotate(158deg);
}
#u7 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:386px;
  width:162px;
  height:46px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:158px;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:102px;
  height:31px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:282px;
  width:87px;
  height:5px;
  -webkit-transform:rotate(325deg);
  -moz-transform:rotate(325deg);
  -ms-transform:rotate(325deg);
  transform:rotate(325deg);
}
#u11 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:219px;
  width:162px;
  height:46px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:158px;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:105px;
  height:31px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:284px;
  width:90px;
  height:5px;
  -webkit-transform:rotate(210deg);
  -moz-transform:rotate(210deg);
  -ms-transform:rotate(210deg);
  transform:rotate(210deg);
}
#u15 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:219px;
  width:162px;
  height:46px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:158px;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:102px;
  height:31px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:372px;
  width:87px;
  height:5px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
}
#u19 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:386px;
  width:162px;
  height:46px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:158px;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:39px;
  width:170px;
  height:170px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:53px;
  width:166px;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:39px;
  width:170px;
  height:170px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:53px;
  width:166px;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:442px;
  width:170px;
  height:170px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:53px;
  width:166px;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:442px;
  width:170px;
  height:170px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:45px;
  width:166px;
  word-wrap:break-word;
}
