body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  text-align:left;
}
#u2206 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2207 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
}
#u2208 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  word-wrap:break-word;
}
#u2209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2209 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:9px;
  width:30px;
  height:30px;
}
#u2210 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2211 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:592px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:360px;
  height:592px;
  font-size:13px;
}
#u2213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u2214 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:119px;
  width:346px;
  height:149px;
}
#u2215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
}
#u2215 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
  font-size:12px;
}
#u2216 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u2217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:36px;
}
#u2217 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:0px;
  width:170px;
  height:36px;
  font-size:12px;
}
#u2218 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u2219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
}
#u2219 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:171px;
  height:36px;
  font-size:12px;
}
#u2220 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u2221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:36px;
}
#u2221 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:36px;
  width:170px;
  height:36px;
  font-size:12px;
}
#u2222 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u2223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
}
#u2223 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:171px;
  height:36px;
  font-size:12px;
}
#u2224 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u2225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:36px;
}
#u2225 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:72px;
  width:170px;
  height:36px;
  font-size:12px;
}
#u2226 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u2227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
}
#u2227 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:108px;
  width:171px;
  height:36px;
  font-size:12px;
}
#u2228 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u2229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:36px;
}
#u2229 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:108px;
  width:170px;
  height:36px;
  font-size:12px;
}
#u2230 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
