body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:548px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6034 {
  position:absolute;
  left:59px;
  top:214px;
  visibility:hidden;
}
#u6034_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:243px;
  height:138px;
  background-image:none;
}
#u6034_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6035 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:138px;
}
#u6036 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:61px;
  width:239px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6037_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6037 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:109px;
  width:73px;
  height:17px;
}
#u6038 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FF0000;
}
#u6039 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:53px;
  width:16px;
  height:32px;
  font-size:28px;
  color:#FF0000;
}
#u6040 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6041 {
  position:absolute;
  left:30px;
  top:204px;
  visibility:hidden;
}
#u6041_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:133px;
  background-image:none;
}
#u6041_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6042 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:300px;
  height:122px;
}
#u6043 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:53px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u6044 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:97px;
  width:300px;
  height:1px;
}
#u6045 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:36px;
}
#u6046 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:98px;
  width:1px;
  height:35px;
}
#u6047 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6048 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:107px;
  width:29px;
  height:17px;
}
#u6049 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6050 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:64px;
  width:202px;
  height:17px;
}
#u6051 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u6052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6052 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:107px;
  width:29px;
  height:17px;
}
#u6053 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6054 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:0px;
  width:50px;
  height:50px;
}
#u6055 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6056 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u6057 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6058 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
}
#u6059 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6060 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:9px;
  width:30px;
  height:30px;
}
#u6061 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6062 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:16px;
  width:57px;
  height:17px;
}
#u6063 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6064_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6064 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:595px;
  width:360px;
  height:45px;
  color:#FFFFFF;
}
#u6065 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:356px;
  word-wrap:break-word;
}
#u6066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u6066 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:11px;
  width:27px;
  height:27px;
}
#u6067 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6068_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u6068 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:360px;
  height:48px;
  color:#999999;
  text-align:left;
}
#u6069 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  word-wrap:break-word;
}
#u6070_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6070 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:105px;
  width:84px;
  height:34px;
}
#u6071 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:80px;
  word-wrap:break-word;
}
#u6072_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6072 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:69px;
  width:57px;
  height:17px;
}
#u6073 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6074_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u6074 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:66px;
  width:94px;
  height:24px;
  font-size:20px;
  color:#FF0000;
}
#u6075 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u6076_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6076 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:251px;
  width:140px;
  height:40px;
}
#u6077 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:136px;
  word-wrap:break-word;
}
#u6078_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:158px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6078 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:73px;
  width:140px;
  height:158px;
}
#u6079 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
