body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:864px;
  height:418px;
}
#u900 {
  position:absolute;
  left:36px;
  top:68px;
  width:864px;
  height:418px;
}
#u901 {
  position:absolute;
  left:2px;
  top:201px;
  width:860px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902 {
  position:absolute;
  left:431px;
  top:268px;
  width:426px;
  height:167px;
}
#u903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
}
#u903 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
}
#u904 {
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  word-wrap:break-word;
}
#u905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:37px;
}
#u905 {
  position:absolute;
  left:105px;
  top:0px;
  width:127px;
  height:37px;
}
#u906 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:37px;
}
#u907 {
  position:absolute;
  left:232px;
  top:0px;
  width:82px;
  height:37px;
}
#u908 {
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:37px;
}
#u909 {
  position:absolute;
  left:314px;
  top:0px;
  width:107px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u910 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
}
#u911 {
  position:absolute;
  left:0px;
  top:37px;
  width:105px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u912 {
  position:absolute;
  left:2px;
  top:6px;
  width:101px;
  word-wrap:break-word;
}
#u913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:31px;
}
#u913 {
  position:absolute;
  left:105px;
  top:37px;
  width:127px;
  height:31px;
}
#u914 {
  position:absolute;
  left:2px;
  top:8px;
  width:123px;
  word-wrap:break-word;
}
#u915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:31px;
}
#u915 {
  position:absolute;
  left:232px;
  top:37px;
  width:82px;
  height:31px;
}
#u916 {
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  word-wrap:break-word;
}
#u917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:31px;
}
#u917 {
  position:absolute;
  left:314px;
  top:37px;
  width:107px;
  height:31px;
}
#u918 {
  position:absolute;
  left:2px;
  top:8px;
  width:103px;
  word-wrap:break-word;
}
#u919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
}
#u919 {
  position:absolute;
  left:0px;
  top:68px;
  width:105px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u920 {
  position:absolute;
  left:2px;
  top:7px;
  width:101px;
  word-wrap:break-word;
}
#u921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:32px;
}
#u921 {
  position:absolute;
  left:105px;
  top:68px;
  width:127px;
  height:32px;
}
#u922 {
  position:absolute;
  left:2px;
  top:8px;
  width:123px;
  word-wrap:break-word;
}
#u923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
}
#u923 {
  position:absolute;
  left:232px;
  top:68px;
  width:82px;
  height:32px;
}
#u924 {
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  word-wrap:break-word;
}
#u925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:32px;
}
#u925 {
  position:absolute;
  left:314px;
  top:68px;
  width:107px;
  height:32px;
}
#u926 {
  position:absolute;
  left:2px;
  top:8px;
  width:103px;
  word-wrap:break-word;
}
#u927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
}
#u927 {
  position:absolute;
  left:0px;
  top:100px;
  width:105px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u928 {
  position:absolute;
  left:2px;
  top:6px;
  width:101px;
  word-wrap:break-word;
}
#u929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:31px;
}
#u929 {
  position:absolute;
  left:105px;
  top:100px;
  width:127px;
  height:31px;
}
#u930 {
  position:absolute;
  left:2px;
  top:8px;
  width:123px;
  word-wrap:break-word;
}
#u931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:31px;
}
#u931 {
  position:absolute;
  left:232px;
  top:100px;
  width:82px;
  height:31px;
}
#u932 {
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  word-wrap:break-word;
}
#u933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:31px;
}
#u933 {
  position:absolute;
  left:314px;
  top:100px;
  width:107px;
  height:31px;
}
#u934 {
  position:absolute;
  left:2px;
  top:8px;
  width:103px;
  word-wrap:break-word;
}
#u935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
}
#u935 {
  position:absolute;
  left:0px;
  top:131px;
  width:105px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u936 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:31px;
}
#u937 {
  position:absolute;
  left:105px;
  top:131px;
  width:127px;
  height:31px;
}
#u938 {
  position:absolute;
  left:2px;
  top:8px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:31px;
}
#u939 {
  position:absolute;
  left:232px;
  top:131px;
  width:82px;
  height:31px;
}
#u940 {
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:31px;
}
#u941 {
  position:absolute;
  left:314px;
  top:131px;
  width:107px;
  height:31px;
}
#u942 {
  position:absolute;
  left:2px;
  top:8px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
