body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:830px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2442 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  text-align:left;
}
#u2443 {
  position:absolute;
  left:2px;
  top:2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2444 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
}
#u2445 {
  position:absolute;
  left:2px;
  top:15px;
  width:356px;
  word-wrap:break-word;
}
#u2446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2446 {
  position:absolute;
  left:8px;
  top:9px;
  width:30px;
  height:30px;
}
#u2447 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2448 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:592px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2449 {
  position:absolute;
  left:0px;
  top:48px;
  width:360px;
  height:592px;
  font-size:13px;
}
#u2450 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
#u2451 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2452 {
  position:absolute;
  left:441px;
  top:9px;
  width:207px;
  height:107px;
  text-align:left;
}
#u2453 {
  position:absolute;
  left:2px;
  top:2px;
  width:203px;
  word-wrap:break-word;
}
#u2454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2454 {
  position:absolute;
  left:394px;
  top:9px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u2455 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u2456 {
  position:absolute;
  left:360px;
  top:24px;
  width:0px;
  height:0px;
}
#u2456_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:38px;
  height:8px;
}
#u2457 {
  position:absolute;
  left:-33px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2458 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2459 {
  position:absolute;
  left:441px;
  top:352px;
  width:207px;
  height:69px;
  text-align:left;
}
#u2460 {
  position:absolute;
  left:2px;
  top:2px;
  width:203px;
  word-wrap:break-word;
}
#u2461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2461 {
  position:absolute;
  left:394px;
  top:352px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u2462 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u2463 {
  position:absolute;
  left:181px;
  top:165px;
  width:0px;
  height:0px;
}
#u2463_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:206px;
}
#u2463_seg1 {
  position:absolute;
  left:-4px;
  top:198px;
  width:217px;
  height:8px;
}
#u2464 {
  position:absolute;
  left:-44px;
  top:194px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2465 {
  position:absolute;
  left:8px;
  top:78px;
  width:101px;
  height:19px;
}
#u2466 {
  position:absolute;
  left:2px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u2467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2467 {
  position:absolute;
  left:10px;
  top:100px;
  width:342px;
  height:65px;
  text-align:left;
}
#u2468 {
  position:absolute;
  left:2px;
  top:2px;
  width:338px;
  word-wrap:break-word;
}
#u2469 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2470 {
  position:absolute;
  left:441px;
  top:125px;
  width:389px;
  height:196px;
  text-align:left;
}
#u2471 {
  position:absolute;
  left:2px;
  top:2px;
  width:385px;
  word-wrap:break-word;
}
#u2472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2472 {
  position:absolute;
  left:394px;
  top:125px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u2473 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u2474 {
  position:absolute;
  left:109px;
  top:88px;
  width:0px;
  height:0px;
}
#u2474_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:275px;
  height:8px;
}
#u2474_seg1 {
  position:absolute;
  left:267px;
  top:-4px;
  width:8px;
  height:60px;
}
#u2474_seg2 {
  position:absolute;
  left:267px;
  top:48px;
  width:18px;
  height:8px;
}
#u2475 {
  position:absolute;
  left:118px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
