body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:642px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:744px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:744px;
}
#u3110 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:364px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:745px;
}
#u3111 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:744px;
}
#u3112 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:364px;
  width:356px;
  word-wrap:break-word;
}
#u3113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:256px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3113 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:241px;
  width:239px;
  height:256px;
}
#u3114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
