body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:428px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:246px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1303 {
  position:absolute;
  left:33px;
  top:30px;
  width:395px;
  height:246px;
  text-align:left;
}
#u1304 {
  position:absolute;
  left:2px;
  top:75px;
  width:391px;
  word-wrap:break-word;
}
#u1305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:161px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1305 {
  position:absolute;
  left:33px;
  top:286px;
  width:395px;
  height:161px;
  text-align:left;
}
#u1306 {
  position:absolute;
  left:2px;
  top:32px;
  width:391px;
  word-wrap:break-word;
}
